.v-theme--dark.v-application {
  background: #1e1e1e !important;
}
.v-icon {
  vertical-align: baseline !important;
}
/* .v-alert__icon {
  font-size: 16px !important;
  margin-right: 2px !important;
} */
/* .v-card__title {
  padding: 10px !important;
} */
/* .card_title_margin {
  margin-bottom: 16px !important;
} */
/* .card_title_border {
  margin-bottom: 16px !important;
  border-bottom: 0.5px solid rgba(126, 126, 126, 0.2);
} */
/* .v-color-picker {
  max-width: 100% !important;
} */
